{% extends "admin.html" %}
{% block content %}

<h1>Gestión de Productos</h1>

<a href="{{ url_for('agregar_producto') }}" class="btn btn-success btn-lg mb-3 mt-3">Agregar Producto</a> <br>
<a class="btn btn-danger mb-3" href="{{ url_for('search_p_by_id') }}">Buscar producto</a>

{% if productos %}
    <h2>Total de productos: {{ productos|length }}</h2>
{% else %}
    <h2>No hay productos registrados.</h2>
{% endif %}

{% if productos %}
    <h2>Ultimo ID: {{ productos[-1][0] }}</h2>
{% endif %}

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
            <td>{{ producto[4] }}</td>
            <td>
                <a href="{{ url_for('editar_producto', id=producto[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{{ url_for('eliminar_producto', id=producto[0]) }}" onclick="return confirm('Quieres borrar este producto?');" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr class="section-divider" id="start">
{% endblock %}
