{% extends "admin.html" %}
{% block content %}

<h1>Gestión de Usuarios</h1>

<a class="btn btn-danger btn-lg" href="{{ url_for('search_by_id') }}">Buscar usuario</a>

{% if users %}
    <h2>Total de usuarios: {{ users|length }}</h2>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Password</th>
            <th>Adminstatus(1 = admin, 0 = no admin)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>contraseña encriptada</td>
            <td>{{ user[3] }}</td>
            <td>
                <a href="{{ url_for('editar_usuario', id=user[0]) }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{{ url_for('eliminar_usuario', id=user[0]) }}"  onclick="return confirm('Quieres borrar este usuario?');" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
