{% extends "admin.html" %}

{% block content %}

    <h2>Editar Usuario</h2>

    <form action="{{ url_for('editar_usuario', id=user[0]) }}" method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="username" class="form-control" value="{{ user[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña Nueva</label>
            <textarea name="password" class="form-control" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">administrador</label> <br>
            1 = admin, 0 = no admin
            <input type="number" min="0" max="1" name="adminstatus" class="form-control" value="{{ user[3] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{{ url_for('user_list') }}" class="btn btn-secondary">Cancelar</a>
    </form>

{% endblock %}